In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df= pd.read_csv('fev.txt', usecols=['AGE', 'FEV', 'HEIGHT','SEX', 'SMOKE'])
df['SMOKE'] = df['SMOKE'].replace({2:0})
df['SEX'] = df['SEX'].replace({2:0})
df['SEX*SMOKE']=df['SEX']*df['SMOKE']
df

     AGE    FEV  HEIGHT  SEX  SMOKE  SEX*SMOKE
0      9  1.708    57.0    0      0          0
1      8  1.724    67.5    0      0          0
2      7  1.720    54.5    0      0          0
3      9  1.558    53.0    1      0          0
4      9  1.895    57.0    1      0          0
..   ...    ...     ...  ...    ...        ...
649   16  4.270    67.0    1      1          1
650   15  3.727    68.0    1      1          1
651   18  2.853    60.0    0      0          0
652   16  2.795    63.0    0      1          0
653   15  3.211    66.5    0      0          0

[654 rows x 6 columns]

In [8]:
df_female=df.loc[df['SEX']==0]
df_male=df.loc[df['SEX']==1]

In [10]:
df_female

     AGE    FEV  HEIGHT  SEX  SMOKE  SEX*SMOKE
0      9  1.708    57.0    0      0          0
1      8  1.724    67.5    0      0          0
2      7  1.720    54.5    0      0          0
5      8  2.336    61.0    0      0          0
6      6  1.919    58.0    0      0          0
..   ...    ...     ...  ...    ...        ...
643   15  2.264    63.0    0      1          0
645   15  2.278    60.0    0      1          0
651   18  2.853    60.0    0      0          0
652   16  2.795    63.0    0      1          0
653   15  3.211    66.5    0      0          0

[318 rows x 6 columns]

In [17]:
X = df_male[['SMOKE','HEIGHT']]
y = df_male['FEV']
X_constant = sm.add_constant(X)
lin_reg_sa = sm.OLS(y,X_constant).fit()
print(lin_reg_sa.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    FEV   R-squared:                       0.779
Model:                            OLS   Adj. R-squared:                  0.778
Method:                 Least Squares   F-statistic:                     587.9
Date:                Thu, 12 Nov 2020   Prob (F-statistic):          5.60e-110
Time:                        15:07:09   Log-Likelihood:                -223.64
No. Observations:                 336   AIC:                             453.3
Df Residuals:                     333   BIC:                             464.7
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -5.7978      0.263    -22.076      0.000      -6.314      -5.281
SMOKE          0.1020      0.100      1.016      0.311      -0.096       0.300
HEIGHT         0.1387      0.004     32.658      0.000       0.130       0.147
==============================================================================
Omnibus:                       14.617   Durbin-Watson:                   1.799
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               20.128
Skew:                           0.347   Prob(JB):                     4.26e-05
Kurtosis:                       3.978   Cond. No.                         638.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
import warnings 
warnings.filterwarnings('ignore')
import statsmodels.api as sm
X = df2[['SMOKE','AGE','SEX', 'SEX*SMOKE']]
y = df2['FEV']
X_constant = sm.add_constant(X)
lin_reg_sa = sm.OLS(y,X_constant).fit()
print(lin_reg_sa.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    FEV   R-squared:                       0.340
Model:                            OLS   Adj. R-squared:                  0.332
Method:                 Least Squares   F-statistic:                     43.73
Date:                Thu, 12 Nov 2020   Prob (F-statistic):           1.33e-29
Time:                        15:02:29   Log-Likelihood:                -320.97
No. Observations:                 345   AIC:                             651.9
Df Residuals:                     340   BIC:                             671.2
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9145      0.208      4.394      0.000       0.505       1.324
SMOKE         -0.1397      0.116     -1.202      0.230      -0.368       0.089
AGE            0.1653      0.017      9.695      0.000       0.132       0.199
SEX            0.5097      0.074      6.864      0.000       0.364       0.656
SEX*SMOKE      0.1965      0.175      1.120      0.263      -0.149       0.541
==============================================================================
Omnibus:                        1.196   Durbin-Watson:                   1.657
Prob(Omnibus):                  0.550   Jarque-Bera (JB):                1.042
Skew:                           0.131   Prob(JB):                        0.594
Kurtosis:                       3.060   Cond. No.                         80.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.