In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np
import seaborn as sns

In [3]:
df= pd.read_csv('fev.txt', usecols=['AGE', 'FEV', 'HEIGHT','SEX', 'SMOKE'])
df['SMOKE'] = df['SMOKE'].replace({2:0})
df['SEX'] = df['SEX'].replace({2:0})
df.head()

   AGE    FEV  HEIGHT  SEX  SMOKE
0    9  1.708    57.0    0      0
1    8  1.724    67.5    0      0
2    7  1.720    54.5    0      0
3    9  1.558    53.0    1      0
4    9  1.895    57.0    1      0